.footer-div {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 80vw;
  min-width: 400px;
  background-color: White;
  height: 50px;
  font-size: 2rem;
  color: #9d4d8c;
  border: 0.5px solid #9d4d8c;
  border-radius: 5px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.brand {
  color: grey;
  font-weight: bold;
  font-style: italic;
  margin-right: 1.5rem;
}
